@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* textarea {
  background: #5C7080 !important;
  color: #BFCCD6 !important;
}

textarea::placeholder {
  color: #cccccc !important;
} */
